# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Versionner le dossier content/notes/ mais jamais son contenu (sauf .gitkeep)
content/notes/*
!content/notes/.gitkeep
!content/notes/**/.gitkeep
